* {
	box-sizing: border-box;
}

body {
	background-color: $blue-light;
	font-size: 1.5rem;
	font-family: $main-font;

} 

.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: $spacer $spacer $spacer-6; 
}

h2 {
	font-size: 2rem;
	color: $red-dark;
	font-family: $secondary-font;
	padding: $spacer;

}

h3 {
	padding: $spacer;
}


