header {
	background-color: $blue-dark;
	text-align: center;
	padding: $spacer;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: $light;
	font-size: 2rem;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}