// layout styles - concerning main page/content structure
.rounds-container {
	display: flex;
	align-items: space-evenly;
	justify-content: center;
	margin-top: 50px;
	@media only screen and (max-width: 1090px) {
		display: block; 
		margin: 0px;
	}
}

.round-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@media only screen and (max-width: 1090px) {
		align-items: center; 
	}
}

// player list styles
.list-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
}